:root{
    /*COLORES*/
    --back-dark:rgba(26, 21, 21, 0.712);
    --back-light:rgba(255, 255, 255, 0.774);
    --solid:rgba(26, 21, 21, 0.973);

    /*FUENTES*/

    --letter:'Merriweather', serif;
    --title:'Ubuntu', sans-serif; ;
}


html{

    scroll-behavior: smooth;
}

body{

    background: linear-gradient(rgba(22, 18, 18, 0.733),rgba(15, 14, 14, 0.637)),
    url("../img/Backgrounds/intro.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center ;
   
}

.container {

    color:white;
    z-index: 60;
    position: relative;
    width: 100%;
    height: 100%;

}   

/***********************/
/*   BODY PRINCIPAL    */
/***********************/

.principal-intro{

    text-align: center;
   
    width: 90%;
}

.principal-intro p.title{

    display: inline;
    font-size: 60px;
    font-family: var(--title);
}

.principal-intro .texto-intro{

    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    background: var(--back-dark);
    margin-top: 3%;
    border: white 1px solid;
    text-align: left;
}

.principal-intro .texto-intro p{

    margin-top: 0;
    font-family: var(--letter);
    font-size: 17px;
    width: 100%;
}

.indice-unidades{

    width: 100%;
    box-sizing: border-box;
    margin-top: 5%;
    
}

.indice-unidades h1{
    margin-top: 2.5%;
    font-family: var(--title);
    font-size: 50px;
    border-bottom: white 3px solid;
    width: 40%;
    padding: 1%;
}

.indice-unidades ul.menu-unidades{

    list-style: none;
    display:inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    
}

ul.menu-unidades li{

    padding: 0.75%;
}

ul.menu-unidades li a{

    background: var(--back-dark);
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--letter);
    color: white;
    padding: 1.2%;
    width: 70%;
    border:white 1px solid;
    box-sizing: border-box;
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}

ul.menu-unidades li a:hover{
    background: var(--back-light);
    color: var(--back-dark);
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}

/***********************/
/*        MOVIL        */
/***********************/

@media screen and (max-width:800px){

    header {
        background-color: var(--back-dark);
    }

    header nav{
        background-color: var(--solid);
    }

    .principal-intro{

        margin-top: 6%;        
        width: 90%; 
        text-align: center;
    }

    .principal-intro p.title{

        margin-top: 5%;
        margin: 0;
        font-size: calc(2em + 2vw);
    }

    .principal-intro .texto-intro{
        margin: 0;
        text-align: center;
        margin-top: 10%;
        font-size: 12px;
        padding: 5%;
    }

    .texto-intro p{

        margin-top: 20%;
    }

    .indice-unidades{

        width: 100%;
        margin: 0;
        padding: 0;
    }

    .indice-unidades h1{

        width: 100%;
        margin-top: 10%;
        font-size: 40px;
        padding: 2%;
        box-sizing: border-box;
    }

    .menu-unidades{
        margin: 0;
        padding: 0;
        width: 100%;
        position: sticky;
        display: table;
        margin-bottom: 5%;
    }

    ul.menu-unidades li{

        width: 100%;
    }

    ul.menu-unidades li a{

        display: block;
        margin: 0;
        padding: 5%;
        font-size: 17px;
        width: 100%;
    }
}

