:root{

    /*COLORES*/

    --back-dark:rgba(21, 26, 26, 0.712);
    --back-light:rgba(255, 255, 255, 0.774);

    /*FUENTES*/

    --title: 'Abril Fatface', cursive;
    --letter:'Merriweather', serif;

}



html{

    scroll-behavior: smooth;
}

body{

    background: linear-gradient(rgba(47, 88, 82, 0.363),rgba(15, 15, 15, 0.911)),
    url("../img/Backgrounds/Background_principal.jpeg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    
}


.container {

    color:white;
    z-index: 60;
    position: relative;
    width: 100%;
    height: 100%;
}

/***********************/
/*       HEADER        */
/***********************/

header{

    width: 100%;
    margin-top: 0;
    text-align: left;
    flex: 1;
}

ul.menu{

    margin-top: 0.75cm;
    list-style: none;
    
}

ul.menu li{
    
    display: inline;
    padding: 35px;
    
}

ul.menu li a{
   
    text-decoration: none;
    color: white;
    font-family: var(--letter);
    font-size: 17px;
    padding: 0;
}

.container hr{

    margin:2%;
    margin-top: 20px;
    border: white 1px solid;
}

/***********************/
/*   BODY PRINCIPAL    */
/***********************/

.principal{

    margin-top: 8%;
    border: 2px white solid;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--back-dark);
    
}

.principal p.titulo{

    margin-top: 0%;
    font-family: var(--title);
    font-size: 100px;
    margin-bottom: -1%;
    min-width: 250px;

}

.principal p.subtitulo{

    font-family: var(--letter);
    font-size: 30px;
}

.boton-clase{

    margin-top: 3%;
    text-align: center;
}

.boton-clase a{

    text-decoration: none;
    color: white;
    font-family: var(--letter);
    font-size: 17px;
    border: white 2px solid;
    padding: 15px;
    background-color: var(--back-dark);
}

.boton-clase a:hover{

    background-color: var(--back-light);
    color:var(--back-dark) ;
}



/***********************/
/*       FOOTER        */
/***********************/

footer{

    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--back-dark);
    z-index: 60;
   
}

footer p{

    font-family: Arial;
    font-size: 14px;
    color: white;
}