:root{

    /*COLORES*/

    --back-dark:rgba(21, 26, 26, 0.712);
    --solid:rgba(21, 26, 26, 0.973);
    --back-light:rgba(255, 255, 255, 0.774);

    /*FUENTES*/

    --letter:'Merriweather', serif;
    --title:'Ubuntu', sans-serif; ;

}



html{

    scroll-behavior: smooth;
}

body{

    background: linear-gradient(rgba(47, 88, 82, 0.363),rgba(15, 15, 15, 0.911)),
    url("../img/Backgrounds/Background_principal.jpeg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center ;
   
}


.container {

    color:white;
    z-index: 60;
    position: relative;
    width: 100%;
    height: 100%;
    
}   

/***********************/
/*       HEADER        */
/***********************/

header{

    width: 100%;
    margin-top: 0;
    text-align: left;
    flex: 1;
    box-sizing: border-box;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
}

ul.menu{

    margin-top: 0.75cm;
    list-style: none;
    
}

ul.menu li{
    
    display: inline;
    padding: 1%;
    
}

ul.menu li a{
   
    text-decoration: none;
    color: white;
    font-family: var(--letter);
    font-size: 16px;
    padding: 0;
}

.container hr{

    margin:2%;
    margin-top: 20px;
    border: white 1px solid;

}

/***********************/
/*   BODY PRINCIPAL    */
/***********************/

.principal{

    box-sizing: border-box;
    margin-top: 5%;
    border: 2px white solid;
    padding: 3.5%;
    width: 70%;
    background-color: var(--back-dark);
    
}

.principal p.titulo{

    margin-top: 0%;
    font-family: var(--title);
    font-size: 60px;
    margin-bottom: -1%;
    box-sizing: border-box;
}

.principal p.subtitulo{

    font-family: var(--letter);
    font-size: 2vw;
}

.boton-clase{

    margin-top: 3%;
    text-align: center;
}

.boton-clase a{

    text-decoration: none;
    color: white;
    font-family: var(--letter);
    font-size:20px;
    border: white 2px solid;
    padding: 15px;
    background-color: var(--back-dark);
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}

.boton-clase a:hover{

    background-color: var(--back-light);
    color:var(--back-dark) ;
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}


/***********************/
/*       FOOTER        */
/***********************/

footer{

    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--back-dark);
    z-index: 60;
   
}

footer p{

    font-family: Arial;
    font-size: 14px;
    color: white;
    
}

/***********************/
/*        MOVIL        */
/***********************/



@media screen and (max-width:800px){

    .container hr{

        display: none;
    }
    .principal{

        width: 90%;
        margin-top: 20%;
        padding: 5%;
    }

    .principal p.titulo{

        margin-top: 2%;
        font-family: var(--title);
        font-size: calc(1.5em + 2vw);
        margin-bottom: -1%;
        
    }

    .principal p.subtitulo{

        font-family: var(--letter);
        font-size: calc(1em + 1vw);
    }

    .boton-clase{

        margin-top: 15%;
        text-align: center;
        
    }
    .boton-clase a{

        font-size: calc(1em + 1vw);
        
    }

    header label{

        display: block;
        font-size: 25px;
        padding: 4%;
        border-bottom: 1px white solid;
    }

    header nav{
        
        background-color:var(--solid);
        position: absolute;
        width: 90%;
        border: 1px solid white;
        box-sizing: border-box;
        margin-left: -100%;
        
    }

    #btn-menu:checked 	~ nav{

        margin: 2% 5% 0% 5%;
        padding: 0;
    }

    header nav ul.menu {
        left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        
    }

    header nav ul.menu li{
        
        padding: 2%;
        margin: 0;
    }

    header nav ul.menu li a{

        margin: 0;
        font-size:12px;
    }


    footer{

        display: none;
    }

}