:root{

    /*COLORES*/

    --back-dark:rgba(21, 26, 26, 0.712);
    --solid:rgba(21, 26, 26, 0.973);
    --back-light:rgba(255, 255, 255, 0.774);

    /*FUENTES*/

    --letter:'Merriweather', serif;
    --title:'Ubuntu', sans-serif; ;

}



html{

    scroll-behavior: smooth;
}

body{

    background: linear-gradient(rgba(47, 88, 82, 0.363),rgba(15, 15, 15, 0.911)),
    url("../img/Backgrounds/Background_principal.jpeg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center ;
    margin-bottom: 40px;
}


.container {

    color:white;
    z-index: 60;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}   


/***********************/
/*   BODY PRINCIPAL    */
/***********************/

.principal{

    box-sizing: border-box;
    margin-top: 5%;
    border: 2px white solid;
    padding: 3.5%;
    width: 70%;
    background-color: var(--back-dark);
    
}

.principal p.titulo{

    margin-top: 0%;
    font-family: var(--title);
    font-size: 60px;
    margin-bottom: -1%;
    box-sizing: border-box;
}

.principal p.subtitulo{

    font-family: var(--letter);
    font-size: 2vw;
}

.boton-clase{

    margin: 0;
    margin-top: 3%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.boton-clase a{

    text-decoration: none;
    color: white;
    font-family: var(--letter);
    font-size:20px;
    border: white 2px solid;
    padding: 15px;
    background-color: var(--back-dark);
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
    margin-bottom: 1.5%;
    display: block;
    margin: 0 25% 1.2% 25%;
}

.boton-clase a:hover{

    background-color: var(--back-light);
    color:var(--back-dark) ;
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
}


/***********************/
/*        POPUP        */
/***********************/

.overlay{
    background: rgba(15, 19, 19, 0.884);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: ease all;
}

.overlay.active{
    visibility: visible;
    opacity: 1;
    transition: 1s ease all;
}

.overlay.active .popup{

    transition: 1s ease all;
    opacity: 1;
}

.popup{
    background-color: rgba(255, 255, 255, 0.212);
    margin-top: 12%;
    width: 60%;
    border: white 3px solid;
    padding: 2%;
    box-sizing: border-box;
    transition: 1s ease all;
    opacity: 0;
}

.popup h2{

    margin: 2%;
    font-size:4em;

}

.popup p{
    font-family: var(--letter);
    margin-bottom: 4%;
}

.popup a{
    color: white;
    text-decoration: none;
    font-size: 2.1em;
    padding: 2%;
    margin: 0;
    transition: .5s;
}


/***********************/
/*       FOOTER        */
/***********************/

footer{
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--back-dark);
    font-size: .9em;
    font-family: var(--letter);
    position: fixed;
    z-index: 99;
    box-sizing: border-box;
    color: white;
}

footer .name-footer{
    width: 38%;
    float: left;
    box-sizing: border-box;
}

.name-footer p{
    margin-left: 1%;
}

footer .menu-footer{
    width: 58%;
    float: right;
    box-sizing: border-box;
    text-align: right;
}

footer .menu-footer ul{
    list-style: none;
}

.menu-footer ul li{
    padding-right:3% ;
    display: inline;
}

.menu-footer ul li a{
    color: white;
}


/***********************/
/*        MOVIL        */
/***********************/


@media screen and (max-width:800px){

 
    .principal p.titulo{

        margin-top: 2%;
        font-family: var(--title);
        font-size: 2.1em;
        margin-bottom: -1%;
        padding: 3.6%;
    }

    .principal p.subtitulo{

        font-family: var(--letter);
        font-size: calc(1em + 1vw);
    }

    .boton-clase{

        margin-top: 12%;
        text-align: center;
        
    }
    .boton-clase a{

        font-size:1em;
        margin: 0 5% 2% 5%;
        
    }

    header{
        background-color: var(--back-dark);
    }

    header nav{
        
        background-color:var(--solid);
    }


    .popup{
        width: 90%;
        margin-top: 20%;
        padding: 5%;
        
    }

    .popup p{
        margin-bottom: 10%;
    }

    
}